{%extends 'base.html'%}
{% load static %}

{%block head_title%}
Profile
{%endblock head_title%}


{%block body%}

<div class="container">
    <div style="align-items: center;justify-content: center;text-align: center;">

        <div style="display: flex;align-items: center;justify-content: center;text-align: center;">
            {% if user.profile.image %}
            <img alt="{{ user.get_full_name }}" class="border rounded-circle border-white"
                 id="following-image-{{user.username}}" src="{{ user.profile.image.url }}"
                 style="width:75px;float: left;"/>
            {% elif user.socialaccount_set.all.0.get_avatar_url %}
            <img alt="{{ user.get_full_name }}" class="border rounded-circle border-white"
                 id="following-image-{{user.username}}" src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                 style="width:75px;float: left;"/>
            {% else %}
            <img alt="{{ user.get_full_name }}" class="border rounded-circle border-white"
                 id="following-image-{{user.username}}" src="{% static 'images/profile.png' %}"
                 style="width:75px;float: left;"/>
            {% endif %}
            <h3><b>{{object.username}}</b></h3>
        </div>
        <br>



        <br><br>
        <h4>Posts</h4>
    </div>

    <div class="row" data-url="/profile/api/{{object.username}}/" id="post-container"
         style="align-items: center;justify-content: center;">

    </div>
    <div style="align-items: center;justify-content: center;text-align: center;">
        <a class="btn btn-outline-primary" href="#" id="load_more_posts">Load More</a>
    </div>
    <br>
</div>

{%endblock%}

{% block javascript %}
<script>
        $(document).ready(function(){
            loadPostData("post-container")
        });

</script>
{% endblock %}