{%extends 'base.html'%}
{% load static %}

{%block head_title%}
Posts
{%endblock head_title%}


{%block body%}


<div class='col-12 posts'>
    <div class='card' style='border-radius: 12px;'>
        <div class='card-body'>
            <h5 class='card-title'>
                <a href="{% url 'user-profile' slug=object.user.username %}" style='text-decoration:none;'>
                    {% if object.user.profile.image %}
                        <img alt="{{ object.user.get_full_name }}" class="border rounded-circle border-white"
                                            src="{{ object.user.profile.image.url }}" style="width:25px;float: left;" />
                    {% elif object.user.socialaccount_set.all.0.get_avatar_url %}
                        <img alt="{{ object.user.get_full_name }}" class="border rounded-circle border-white" 
                        src="{{ object.user.socialaccount_set.all.0.get_avatar_url }}" style="width:25px;float: left;" />
                                        <!--0 indicates the site used to sign up first-->
                    {% else %}
                        <img alt="{{ object.user.get_full_name }}" class="border rounded-circle border-white"
                                            src="{% static 'images/profile.png' %}" style="width:25px;float: left;" />
                    {% endif %}
                    {{ object.user }}
                </a>
                {% if request.user.username == object.user.username %}
                <span style='float: right;'>
                    <a data-toggle='dropdown'><img src="{% static 'images/more-24.png' %}"></a>
                    <div class='dropdown-menu dropdown-menu-right'>
                        <small><a class='dropdown-item post-upd' href="{% url 'post:update' pk=object.id %}">Update</a></small>
                        <small><a class='dropdown-item post-del' href="{% url 'post:delete' pk=object.id %}">Delete</a></small>
                    </div>
                </span>
                {% endif %}
            </h5>
            <small class='card-subtitle mb-2 text-muted' >
                <a href="{% url 'post:detail' pk=object.id %}" style='color:black;text-decoration:none;'>{{ object.updated_on }}</a>
            </small>
            <p class='card-text'>{{ object.content }}</p>
            <img src="{{ object.image.url }}" style="width: 100%;height: 450px;object-fit: cover;"/> 
        </div> 
    </div>
</div>


{%endblock%}


